<div class="row">
    <div class="col-md-6 offset-3">
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
 
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" id="email"  formControlName="email">
            </div>

            <ng-container >
                <p class="text-danger" *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].invalid">plz enter email</p>
            </ng-container>
            
            <div class="form-group">
               <label for="password">Password</label>
               <input type="text" class="form-control" id="password" formControlName="password">
            </div>

            <ng-container >
                <p class="text-danger" *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].invalid">plz enter password</p>
            </ng-container>
            
            <div class="text-right">
               <button mat-flat-button color="accent" type="submit">signIn</button>
            </div>
       </form>
       
    </div>
</div>