
<div class="col-md-10 offset-1">
<button class="btn btn-outline-danger mb-5 mt-2" (click)="ondashboard()">dashboard</button>
   <h2 class="bg-primary text-white p-3">your portFolio</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>sr no</th>
                <th>coinName</th>
                <th>quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of assets;  index as i">
                <td>{{i+1}}</td>
                <td>{{s.cryptoBuyName}}</td>
                <td>{{s.quantity}}</td>
            </tr>
        </tbody>
    </table>

</div>

